name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up rv
        uses: ./
        with:
          bundler-cache: true

      - name: Verify Ruby
        run: ruby --version
