name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  Test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up rv
        uses: ./
        with:
          bundler-cache: true
          working-directory: .github/workflows # Find CI specific Gemfile.lock

      - name: Verify Ruby
        run: ruby --version
